/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;
	--bg-color: #f3efee;
	--bg-secondary: #fbfbfb;
	--color-shark: #26292b;
	--color-brickRed: #ce325a;
	--color-museliBrown: #ac8b5a;
	--bg-gradient: linear-gradient(
		60deg,
		#f4f8f9 0%,
		#f4f2f3 30%,
		#f5e8f2 60%,
		#f9eae7 100%
	);
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* font-family: var(--font-mono); */
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	background-color: var(--bg-color);
	color: var(--color-shark);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
body::-webkit-scrollbar {
	width: none;
	display: none;
}

.dashboard-container {
	height: 96vh;
	display: flex;
	padding: 10px;
}
.sidebar {
	width: 240px;
}
.navbar {
	height: 40px;
}
.dashboard-children {
	background-color: var(--bg-secondary);
	flex: 1;
	border-radius: 20px;
	padding: 16px 20px;
	overflow-y: scroll;
}
.dashboard-children::-webkit-scrollbar {
	width: none;
	display: none;
}
.dashboard-main {
	display: flex;
	flex-direction: column;
	flex: 1;
}
